/* whole-body */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* header-section */
.header-container {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  /* width: 1920px;
  height: 850px; */
  background-color: rgba(229, 84, 115, 0.1);
  padding: 200px 200px 0px 200px;
  /* background-size: cover; */
}
.header-section {
}
.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-picture {
  width: 635px;
  height: 800px;
  padding-bottom: 50px 250px 0px;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
/* main section */
.feature-container {
  margin-top: 100px;
}
.feature-flower {
  display: flex;
  justify-content: center;
  text-align: center;
  /* justify-content: space-evenly; */
  gap: 70px;
  /* gap: 200px; */
}
.feature-text {
  text-align: center;
}
.feature-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.flower-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  /* width: 464px;
  height: 538px; */
}
.flower-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  /* width: 464px;
  height: 538px; */
}
.flower-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
   /* width: 464px;
  height: 538px; */
}
.flower-img-1 {
  width: 310px;
  height: 428px;
  margin-left: auto;
  margin-right: auto;
  display: block;
 padding: 110px 70px 0px 70px;
}
.flower-img-2 {
  width: 370px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 110px 47px 51px 47px;
}
.flower-img-3 {
  width: 314px;
  height: 471px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 67px 70px 0px 70px;
}
.discount-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 1922px;
  height: 620px; */
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 150px;
}
.discout-text {
  text-align: center;
}
.img {
  width: 318px;
  height: 420px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.discount-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 30px;
}
.discount-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.single-word{
  color: #E55473;
}
.social-container{
  margin-top: 150px;
  
}

.flowrs{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  /* margin-left: 200px;
  margin-right: 200px; */
}
.social-media{
  text-align: center;
}
.deals-container{
  
  align-items: center;
  text-align: center;
  /* width: 70%; */
  /* margin: auto; */
  margin-left: 420px;
  background-image: url('./Flower Asset/Rectangle\ 9.png');
  background-repeat: no-repeat;
   margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 450px;
}
.contact{
  display: inline;
  padding: 20px 43px;
  width: 700px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}
.deals-text{
  align-items: center;
}